In [2]:
import pandas as pd

### Calculate the annual flow of each site

In [11]:
def get_annual_flow(site, year):
    
    data1 = pd.read_csv('../Data/Data processing/20211028_SCOOT_Data/JupyterNotebook_CSV/20211213_SCOOT_data/'+ site +'&2019_08_05-2021_12_12.csv')
    data2 = pd.read_csv('../Data/Data processing/Traffic data/SCOOT/data/'+ site +'&2021_12_13-2023_09_30.csv')
    data = pd.concat([data1, data2]).reset_index(drop=True)
    
    data['year'] = data['lastUpdate'].str.split('-').str[0]
    all_flow = data.loc[data.year == str(year), 'flow'].sum()
    flow_annual = pd.DataFrame({'year': year, 'siteId': site, 'annual_flow': all_flow, 'description': data['originDescription'][0],
                               'lat': data['originLat'][0], 'lon': data['originLong'], 'easting': data['originEasting'][0], 
                               'northing': data['originNorthing'][0]}, index=[0])
                        
    return flow_annual

In [13]:
get_annual_flow('GA0401_R',2021)

,year,siteId,annual_flow,description,lat,lon,easting,northing
0,2021,GA0401_R,112727,St Vincent Street East to Elmbank St,55.863058,-4.269934,258036.081,665650.355

### Get the annual flow of 530 sites in 2021

In [16]:
site_df = pd.read_csv('../Data/Data processing/20211028_SCOOT_Data/JupyterNotebook_CSV/useful_detector_530.csv')

In [18]:
flow_list = []
for site in site_df.siteId:
    annual_flow = get_annual_flow(site,2021)
    flow_list.append(annual_flow)
    
annual_flow_530 = pd.concat(flow_list).reset_index(drop=True)
annual_flow_530

,year,siteId,annual_flow,description,lat,lon,easting,northing
0,2021,GA0151_A,260716,St Vincent Street Eastbound to North Street,55.863144,-4.275053,257716.078,665670.358
1,2021,GA0151_C,883004,North St. northbound,55.862380,-4.270661,257988.081,665576.354
2,2021,GA0151_D,552342,Newton Street,55.863617,-4.270334,258013.080,665713.356
3,2021,GA0401_R,112727,St Vincent Street East to Elmbank St,55.863058,-4.269934,258036.081,665650.355
4,2021,GA0401_S,617449,St Vincent Street Westbound,55.862546,-4.266052,258277.083,665585.351
...,...,...,...,...,...,...,...,...
525,2021,GL3551_R,1002350,Helen St n/b to ASDA,55.851422,-4.318959,254925.063,664457.377
526,2021,GL3551_S,747473,ASDA exit to Helen St,55.851709,-4.319919,254866.063,664491.378
527,2021,GL3551_T,862185,Helen St s/b at ASDA,55.852724,-4.318510,254958.062,664601.378
528,2021,GL4151_B,154060,Renfrew Road e/b,55.865908,-4.339914,253668.044,666113.407
529,2021,GL4151_C,110296,Renfrew Road n/b,55.865333,-4.339927,253665.043,666049.406

In [19]:
#annual_flow_530.to_csv('annual_flow_530_2021.csv', index = False)